<h3>{{viewTitle}}</h3>
<form action="/submit" method="POST" autocomplete="off">
    <div class="form-group">
    <label>Movie Name</label>
    <input type="text" class="form-control" name="movieName" placeholder="Enter movie name">
    </div>
    <div class="form-group">
    <label>Image Url</label>
    <input type="text" class="form-control" name="movieUrl" placeholder="Enter image Url">
    </div>
    <div class="form-group">
    <label>Movie Summary</label>
    <input type="text" class="form-control" name="movieSummary" placeholder="Enter summary">
    </div>

    <div class="form-group">
    <button class="btn btn-info" type="submit">Submit</button>
    </div>
</form>